<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="I found this website that sales data very cheap, I think you will be interested... They give 11GB bonus to new users and if you invite someone to the website, you get 150 Naira for each person...">

	<link rel="icon" href="/site_icon.jpg">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="assets/purchase.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Start</title>
    <style type="text/css">

		*{
			padding: 0;
			margin: 0;
		}

		body{
			background-color: white;
		}



		.user_wrapper{
			color: black;
			width: 90%;
			margin: 20px auto 5px auto;
			display: grid;
			grid-template-columns: 50px 1fr;
		}

		.user_wrapper i{
			font-size: 40px;
		}


		.user_wrapper p{
			font-size: 13px;
			font-weight: 600;
			margin-top: 14px;
		}

		.wallet_wrapper{
			background-color: #7f00ff;
			padding: 20px 25px;
			box-sizing: border-box;
			font-size: 0.8rem;
			font-weight: 400;
			color: rgb(250, 250, 250);
			width: 90%;
			margin: 20px auto 0 auto;
			border-radius: 10px;
		}


		.fund_wallet_wrapper{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			text-align: center;
			margin-top: 30px;
		}


		.fund_wallet_wrapper i{
			font-size: 2rem;
			color: white;
		}


		.fund_wallet_wrapper h2{
			font-weight: 400;
			margin-top: 8px;
			font-size: 0.9rem;
			color: rgb(230, 230, 230);

		}


		
		
		.option_section{
			margin: 40px auto 0 auto;
			box-sizing: border-box;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 15px 0px;
			text-align: center;
			background-color: rgb(240, 240, 240);
			border-radius: 20px;
			padding: 20px 0;
		}


		.option_section article{
			background-color: white;
			padding: 15px 0px;
			border-radius: 10px;
			background-color: rgb(230, 230, 230);
			width: 90%;
			margin-left: 5%;
			box-sizing: border-box;
		}

		.option_section > article > i{
			width: 40px;
			height: 35px;
			padding: 20px 15px 15px 15px;
			border-radius: 10px;
			background-color: white;
			border: 1px solid #7f00ff;
		}

		
		.option_section > article > h2{
			color: red;
			font-size: 1rem;
			font-weight: 400;
			font-family: arial;
			margin-top: 8px;
		}

		i{
			color: rgb(40, 40, 40);
			font-size: 2.3rem;
			text-align: center;
		}



		.term_home{
			margin-top: 40px;
			color: rgb(100, 100, 100);
		}


		.loader_wrapper{
			width: 90%;
			margin: 100px 0 0 5%;
		}
		.loader_wrapper .fas{
			font-size: 7rem;
			animation-name: color_change;
			animation-duration: 3000ms;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			text-align: center;
		}



				@keyframes color_change{

					0%{
						color: white;
					}

					25%{
						color: lime;
					}


					50%{
						color: red;
					}


					75%{
						color: white;
					}



					100%{
						color: white;
					}
				}


		.flex{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.flex div{
			flex: .9;
		}

		.flex .navMenu{
			flex: .1;
		}

		.flex .navMenu{
			
			display: flex;
			justify-content: right;
			flex-direction: column;
			padding-right: 20px;
		}

		.navMenu span{
			display: block;
			width: 30px;
			height: 4px;
			background: black;
			margin-top: 2px;

		}

		.nav{
			width: 65%;
			height: 100vh;
			position: fixed;
			top: 0;
			right: -100%;
			text-align: right;
			padding-right: 10%;
			font-size: 2rem;
			background-color: #f0f0f0;
			transition: all 300ms ease-in-out;
			z-index: 10;
		}

		.overla{
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0,.3);
			opacity: 0;
			pointer-events: none;
		}

		.nav.active{
			right: 0;
		}

		.overla.active{
			opacity: 1;
			pointer-events: all;
		}

		.nav ul{
			margin-top: 20%;
		}

		.nav a{
			display: block;
			margin-bottom: 8px;
			color: black;
		}
		.exit{

			color: #7f00ff;
			font-size: 4rem;
		}

	</style>
</head>

<body>

	<nav class="nav">
		<span class="exit">&times;</span>
		<ul>
			<li><a href=`<%- admin.walink %>`>Contact</a>
				</li>
			<li><a href="/tos">Terms of Service</a></li>
		</ul>
	</nav>
	<div class="overla">

	</div>
	<div class="flex">
		<div class="user_wrapper">
			<i class="fas fa-user-circle"></i>
			<p>Hello,  <%- user.firstname %> <%- user.lastname %></p>
		</div>
		<div class="navMenu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
    
    
    <section class="wallet_wrapper">
		<h2>Wallet Balance: ₦<%- user.walBal %></h2>
		<h2>Referral Reward: ₦<%- (user.refered * 350) %></h2>

		<div class="fund_wallet_wrapper">
			<article onclick="window.location.href='/best/fund'">
				<i class="fas fa-university"></i>
				<h2>Add Money</h2>
			</article>

			<article onclick="window.location.href='/best/withdraw'">
				<i class="fas fa-location-arrow"></i>
				<h2>Withdraw</h2>
			</article>


			<article onclick="window.location.href='/best/referral'">
				<i class="fas fa-wallet"></i>
				<h2>My Wallet</h2>
			</article>

		</div>

	</section>
    <section class="option_section">

		


		<article class="buy_data" onclick="window.location.href='/best/purchase/data'">
			<i class="fas fa-wifi" style="color:#7f00ff;"></i>
			<h2 style="color: black;">Buy Data</h2>
		</article>


		<article onclick="window.location.href='/best/referral'">
			<i class="fas fa-hand-holding-usd" style="color:#7f00ff;"></i>
			<h2 style="color: black;">Refer & Earn</h2>
		</article>


		<article onclick="window.location.href='/best/purchase/air'">
			<i class="fas fa-phone-volume" style="color:#7f00ff;"></i>
			<h2 style="color: black;">Buy Airtime</h2>
		</article>	



		<article onclick="window.location.href='/best/partnership'">
			<i class="fas fa-cart-arrow-down" style="color:#7f00ff;"></i>
			<h2 style="color: black;">Resell Data</h2>
		</article>
		
		<article onclick="window.location.href=`<%- admin.walink %>` ">
			<i class="fab fa-whatsapp" style="color:#7f00ff;"></i>
			<h2 style="color: black;">Customer Care</h2>
		</article>

<!-- https://wa.link/h1romn -->

		<article class="airtime_to_cash" onclick="window.location.href=`<%- admin.walink %>` ">
			<i class="fas fa-recycle" style="color:#7f00ff;"></i>
			<h2 style="color: black;">Sell Your Airtime</h2>
		</article>
		
		

	</section>


	<script>

		document.querySelector('.navMenu').addEventListener('click',()=>{
    document.querySelector('.nav').classList.add('active')
    document.querySelector('.overla').classList.add('active')

})

document.querySelector('.exit').addEventListener('click', ()=>{
    document.querySelector('.nav').classList.remove('active')
    document.querySelector('.overla').classList.remove('active')
})
document.querySelector('.overla').addEventListener('click',()=>{
    document.querySelector('.nav').classList.remove('active')
    document.querySelector('.overla').classList.remove('active')
})
	</script>
</body>

</html>