<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: rgb(25, 27, 26);
        padding: 0 8px;
      }

      .flex {
        background-color: rgb(236, 218, 218);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        margin-bottom: 10px;
        border-radius: 4px;
      }

      .flex span {
        display: block;
        padding: 4px;
        border-radius: 4px;
        flex-basis: 100/5%;
      }

      .bold {
        background-color: rgb(31, 14, 93);
        font-weight: bolder;
        background-color: #0bda51;
        color: white;
      }

      .cancel{
        font-size: 1.3rem;
      }


      .none {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="contain">
      <% rech.forEach(function(user) { %>
      <div class="flex div <%- (user.id) %>">
        <span class="amount"> <%= user.recharge[0][0] %> </span>
        <span class="bold prov"> <%= user.recharge[0][1] %></span>
        <span class="network"> <a href="tel:<%= user.recharge[0][2] %>" class="call"><%= user.recharge[0][2] %></a> </span>

        <span class="appr copy bold">
          <a href=`<%-user.id %>` class="apprve" id='appv'><i class="fa fa-send-o"></i
          ></a>
        </span>
      </div>

      <% }) %>
    </div>

    
      <button class='cancel'>Reject</button>
  

    <script>
      const nettProv = document.querySelector('.prov').textContent
      const call = document.querySelector('.call').textContent

      if(nettProv == 'MTN' && nettProv.length == 10){
document.querySelector('.call').setAttribute('href',`tel:*3551*${call}`)
}else if(nettProv == 'MTN'){
document.querySelector('.call').setAttribute('href',`tel:*311*${call}`)
} else{
document.querySelector('.call').setAttribute('href',`tel:*126*${call}`)
}
  

      let approve = document.querySelector('.appr');
      

      let id = document.getElementById('appv').getAttribute('href')
      let getAmount = document.querySelector('.amount').textContent;
      let allDiv = document.querySelectorAll('.div')
      let div = document.querySelector(`.div`)
      let contain = document.querySelector('.contain')

      console.log(getAmount)
      const amount = Number(getAmount)
      id = id.replace(/`/g, '')

      document.querySelector('.cancel').addEventListener('click', async ()=> {
          if(approve == null) return alert('no items yet');
          try {
              const res = await fetch('/rppr', {
                  method: 'POST',
                  body: JSON.stringify({ id }),
                  headers: { 'Content-Type': 'application/json' },
              })



              const ok = await res.ok;
              if (ok) {
                  for (const items of allDiv) {
                      if (items.className.includes(id)) {
                          console.log(res)
                          items.remove()
                          location.reload()
                      }
                  }
              }

          } catch (err) {
            alert('something went wrong')
              console.log(err);
          }
      })

      approve.addEventListener('click', async (e) => {
          e.preventDefault();



          try {
              const res = await fetch('/appr', {
                  method: 'POST',
                  body: JSON.stringify({ id, amount }),
                  headers: { 'Content-Type': 'application/json' },
              })



              const ok = await res.ok;
              if (ok) {
                  for (const items of allDiv) {
                      if (items.className.includes(id)) {
                          console.log(res)
                          items.remove()
                          location.reload()
                      }
                  }
              }

          } catch (err) {
              console.log(err);
          }
      })
    </script>
  </body>
</html>
