<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Refer and Earn</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="icon" href="/site_icon.jpg" />

    <link rel="stylesheet" type="text/css" href="assets/purchase.css" />

    <style type="text/css">
      body {
        background-color: rgb(230, 230, 230);
      }

      @media screen and (min-width: 0) {
        h1 {
          background-color: rgb(0, 25, 50);
          text-align: left;
          font-size: 1.6rem;
          color: rgb(240, 240, 240);
          padding: 15px 0 15px 20px;
          font-weight: 600;
          border: none;
          width: 100%;
          margin: 0;
          border-radius: 0;
        }

        .profile_pic {
          background-color: white;
          padding: 30px 0;
          width: 90%;
          margin-left: 5%;
          margin-top: 15px;
          color: rgb(5, 130, 200);
          text-align: center;
          font-size: 1.9rem;
          border-radius: 15px;
        }

        .profile_pic i {
          padding: 17px 20px;
          background-color: rgb(235, 235, 250);
          border-radius: 50%;
          font-size: 2.9rem;
        }

        .profile_pic .name {
          color: black;
          margin-top: 10px;
          display: block;
          font-size: 1.3rem;
          font-weight: 400;
        }

        .profile_pic .number {
          color: rgb(160, 160, 160);
          margin-top: 5px;
          display: block;
          font-size: 1.2rem;
        }

        h1 .amount {
          color: rgb(0, 180, 100);
          margin-top: 10px;
          display: block;
          font-size: 3rem;
          font-weight: 600;
        }

        .data_section {
          margin-top: 10px;
          display: grid;
          grid-template-columns: 1fr 1.3fr;
          line-height: 1.4;
          background-color: white;
          width: 90%;
          margin-left: 5%;
          padding: 20px;
          border-radius: 15px 15px 0 0;
          box-sizing: border-box;
        }

        .data_section > p {
          font-size: 1.15rem;
          padding: 20px 5px;
          color: black;
          border-bottom: 1px solid rgb(200, 200, 200);
        }

        p.first_p {
          color: rgb(80, 80, 80);
          font-weight: 600;
          padding-left: 20px;
        }

        p.second_p {
          text-align: right;
          padding-right: 20px;
        }

        .referral_section {
          background-color: white;
          width: 90%;
          padding: 20px;
          border-radius: 15px;
          box-sizing: border-box;
          margin: 30px 0 0 5%;
        }

        h2 {
          color: rgb(100, 100, 100);
          font-weight: 800;
          font-size: 2.3rem;
          margin: 20px 0 0 5%;
          text-align: center;
          width: 90%;
        }

        h2.second {
          font-size: 1.7rem;
          font-weight: 400;
          margin-top: 20px;
          color: rgb(0, 120, 30);
        }

        .fund_button_wrapper {
          background-color: white;
          padding: 10px 0 20px 0;
          width: 90%;
          margin-left: 5%;
          border-radius: 0 0 15px 15px;
        }

        button {
          margin: 50px 0 0 15%;
          width: 70%;
          display: block;
          font-size: 1.3rem;
          display: block;
          border-radius: 6px;
        }

        .fund_button {
          margin-top: 0;
          background-color: rgb(250, 250, 250);
          color: green;
          border: 1px solid rgb(50, 50, 50);
        }

        .or {
          margin-top: 20px;
          text-align: center;
          font-size: 1.7rem;
          font-weight: 600;
          color: black;
          color: rgb(60, 60, 60);
        }

        .link {
          width: 90%;
          border-radius: 10px;
          word-wrap: break-word;
          margin: 10px 0 0 5%;
          padding: 10px;
          color: rgb(50, 50, 50);
          border: 1px solid rgb(0, 200, 0);
          box-sizing: border-box;
        }

        article > .withdraw_reward {
          display: block;
          width: 180px;
          background-color: rgb(190, 190, 190);
          padding: 15px 20px;
          border-radius: 5px;
          margin: 50px auto;
          font-size: 1.4rem;
          text-align: center;
          color: rgb(0, 50, 20);
        }
      }
    </style>
  </head>

  <body data-user="" data-purchase="false">
    <div class="body_overlay"></div>

    <main role="main">
      <h1>My Wallet</h1>

      <div class="profile_pic">
        <i class="fas fa-wallet" style="color: rgb(229, 194, 19);background-color: #fff5c8;"></i>

        <p class="name">Hi, <%- user.firstname %> <%- user.lastname %></p>
        <p class="number">0<%- user.phone %></p>
      </div>

      <article>
        <section class="data_section">
          <p class="first_p">Full Name:</p>
          <p class="second_p"><%- user.firstname %> <%- user.lastname %></p>
          <p class="first_p">Phone Number:</p>
          <p class="second_p">0<%- user.phone %></p>
          <p class="first_p">Wallet Balance:</p>
          <p class="second_p">₦<%-user.walBal%></p>
          <p class="first_p">Referral Reward:</p>
          <p class="second_p">₦<%- (user.refered * 350) %></p>
          <p class="first_p">People Registered:</p>
          <p class="second_p"><%- user.refered %></p>
        </section>

        <section class="fund_button_wrapper">
          <button class="fund_button" onclick="window.location='/best/fund' ">
            Fund Wallet
          </button>
        </section>

        <section class="referral_section" id="referral_section">
          <h2>Earn ₦350 for Each Referral</h2>

          <form class="link_form">
            <button class="copy_button">
              <a
                style="display: block; color: white"
                href="https://api.whatsapp.com/send?text=Take a look at this amazing website. They sell data at the cheapest price and they give 11GB welcome bonus to all new users......                       

					*Click the link to register for free* 

					https://fastsub.onrender.com/<%-user.id %>"
                data-action="share/whatsapp/share"
                >Share on WhatsApp</a
              >
            </button>
          </form>

          <p class="or">Or</p>

          <h2 class="second">Copy Your Link</h2>

          <p class="link linkShare">https://fast-subonrender.com/ref/</p>
        </section>

        <br /><br />
      </article>
    </main>
    <div hidden class="catchId"><%- user.id %></div>

    <script type="text/javascript">
	
	window.onload = function () {
        window.scrollTo(0, document.body.scrollHeight);
      };
      let toCopy = document.querySelector(".linkShare");

      let user = document.querySelector(".catchId").textContent;

      toCopy.textContent += user;

      let value = toCopy.value;

      
    </script>
  </body>
</html>
